<?xml version="1.0" encoding="UTF-8"?>

<hausbus xsi:noNamespaceSchemaLocation="config.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<device name="taster" board-id="40">
		<button id="400">
			<in pin="C0">
				<short>
					<code>
output_toggle(200, 0);
					</code>
				</short>
				<long>
					<code>
DIMMER(202, 0);
					</code>
				</long>
			</in>
		</button>
	</device>
	<device name="lampe" board-id="20">
		<output id="200">
			<out pin="C0"/>
		</output>
		<pwm id="202">
			<out pin="B1"/>
		</pwm>
		<tick>
			printf("fancy ticks\n");
		</tick>
	</device>
</hausbus>
